src/main/resources/org/springframework/social/amazon/config/xml/spring-social-amazon-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:amazon="http://www.springframework.org/schema/social/amazon"
	targetNamespace="http://www.springframework.org/schema/social/amazon">

	<xs:element name="config">
    	<xs:complexType>
    		<xs:attribute name="client-id" use="required" type="xs:string" />
            <xs:attribute name="client-secret" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>